body {
  align-items: center;
  background-color: #ffebc2;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

table.sudoku {
  border: 3px solid black;
  margin-bottom: 5px;

  td {
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
    position: relative;
    text-align: center;
    background-color: white;

    &.highlighted {
      background-color: #80b3ff;
    }

    table td {
      background: none;
      border: none;
      font-size: 0.5rem;
      height: 1rem;
      width: 1rem;
    }
  }
}
